body,
html {
    -webkit-print-color-adjust: exact !important;
    font-family: 'Almarai', sans-serif !important;
    height: 99%;
}

body {
    /* border: 1px solid #3b3b3b !important; */
    /* padding: 20px 0px !important; */
    margin: 0 !important;
}

.modal-print-padd {
    padding: 0 !important;
    margin: 0 !important
}

.head-title-print {
    background: #8B8B8B !important;
    color: white !important;
    padding: 7px !important;
    margin: 15px 0 !important;
}

table th {
    background: none !important;
    background-color: red !important
}

.row .px-2 {
    text-align: center !important;
    color: red
}

.print-border {
    padding: 0 !important;
}


/* أذونات البرنت */

.print-border {
    padding: 0 !important;
}

.logo-print {
    background: #333 !important;
    width: 500px !important;
    border-radius: 0 0 115px 0 !important;
    padding: 10px !important;
    border-right: 9px solid #526cc2 !important;
    color: white !important
}

.logo-print h1 {
    color: white !important
}

.logo-print h5 {
    color: white !important
}

.top-logo-print {
    position: absolute !important;
}


/* .row-right-data {
    position: relative;
    top: -80px
} */

.right-top-detail h1 {
    color: #526cc2 !important;
    font-weight: bold !important
}

.right-top-detail h3 {
    color: #000 !important;
    font-weight: bold !important;
    font-size: 35px !important
}

.invoice-to {
    padding: 20px !important
}

.invoice-to h4 {
    color: #526cc2 !important;
    font-weight: bold !important;
    margin: 0 !important;
    padding: 5px 0 !important
}

.invoice-to h5 {
    color: #526cc2 !important;
    font-weight: bold !important;
    margin: 0 !important;
    padding: 5px 0 !important
}

.invoice-to h3 {
    color: #526cc2 !important;
    font-weight: bold !important;
    margin: 0 !important;
    padding: 5px 0 !important
}

.invoice-to h2 {
    color: black !important;
    margin: 0 !important;
    padding: 5px 0 !important
}

.invoice-to h6 {
    color: black !important;
    margin: 0 0 10px !important;
}

.invoice-to ul {
    color: black !important;
    margin: 0 !important;
    padding: 0 !important
}

.print-table-wg thead th {
    background: #526cc2 !important;
    color: white !important;
    border: none !important
}

.print-table-wg tr th,
.print-table-wg tr td {
    border: none !important
}

.print-table-wg tr th:first-of-type,
.print-table-wg tr td:first-of-type {
    border-radius: 30px 0 0 30px !important;
}

.print-table-wg tr th:last-of-type,
.print-table-wg tr td:last-of-type {
    border-radius: 0 30px 30px 0 !important;
}

.last-total {
    color: rgb(27, 27, 27) !important;
    border: 1px solid #333 !important;
    border-radius: 30px !important;
    margin-top: 5px !important;
    margin: auto;
}

.last-total h6 {
    color: rgb(27, 27, 27) !important;
    font-weight: bold !important;
    font-size: 10px !important;
    margin: 6px !important
}

.right-peice-wg .title {
    color: #526cc2 !important;
    font-weight: bold !important
}

.print-foot-wg {
    margin-left: 15px;
    position: fixed;
    bottom: 0;
    /* margin-top: 80px !important */
}

.print-foot-wg .col-xs-7 {
    background: #333 !important;
    color: white !important;
    border-radius: 0 100px 0 0 !important;
    border-right: 15px solid #526cc2 !important;
}

.print-foot-wg .col-xs-7 .media {
    padding: 3px 0 15px !important
}

.print-foot-wg h6 {
    color: white !important
}

.print-foot-wg i {
    margin-left: 5px !important;
    color: white !important
}


/* .print-foot-wg::after
{
    content: "" !important;
    background: #526cc2 !important;
    width: 340px !important;
    height: 40px !important;
    position: absolute !important;
    left: -30px !important;
    bottom: 0 !important;
    border-radius: 0 50px 0 0 !important;
} */

.small-data-wg {
    background: #526cc2 !important;
    color: white !important;
    position: absolute !important;
    left: -20px !important;
    bottom: 0 !important;
    padding: 12px 30px 12px 12px !important;
    border-radius: 0 50px 0 0 !important;
    width: 47% !important;
}

.small-data-wg h6 {
    padding: 0 !important;
    margin: 0 !important;
    text-align: center !important;
}

.static-table-wg th {
    background: #DDD !important;
    color: black !important;
    border: 1px solid black !important
}

.static-table-wg td {
    background: #fafafa !important;
    color: black !important;
    border: 1px solid black !important
}

.print-table-wg tbody tr {
    border-top: 1px solid white !important;
}

.print-table-wg tbody tr td {
    background: rgb(248, 247, 247) !important;
    background-color: rgb(248, 247, 247) !important;
}

.right-top-detail h3 {
    font-weight: bold;
    text-align: center !important;
    color: #000 !important
}

.invoice-to-title {
    color: #526cc2 !important;
    font-weight: bold;
}

#invoiceDatatoPrint .top-logo-print,
#assetDatatoPrint .top-logo-print,
#assetDatatoPrint .top-logo-print {
    position: absolute;
    left: 0px !important;
}


/* .print-padding-top {
    padding-top: 100px !important
} */

.table-time-user th,
.table-time-user td,
.table-time-user tr {
    background: none !important;
    color: black !important;
    border: none !important;
    padding: 3px !important;
    text-align: center !important
}

.table-time-user {
    margin: 0 !important;
    position: relative !important;
    top: -10px !important;
}

@media (max-width:992px) {
    .right-top-detail h3 {
        font-size: 35px !important;
        color: #000 !important
    }
}

.static-table-wg>tbody>tr>td,
.static-table-wg>tbody>tr>th,
.static-table-wg>tfoot>tr>td,
.static-table-wg>tfoot>tr>th,
.static-table-wg>thead>tr>td,
.static-table-wg>thead>tr>th {
    padding: 5px !important;
    font-size: 11px !important;
}

.print-table-wg>tbody>tr>td,
.print-table-wg>tbody>tr>th,
.print-table-wg>tfoot>tr>td,
.print-table-wg>tfoot>tr>th,
.print-table-wg>thead>tr>td,
.print-table-wg>thead>tr>th {
    padding: 7px !important;
    font-size: 11px !important;
}


/* أذونات البرنت */

@page {
    size: A4;
    padding: 50px 0 300px !important;
}

.print-header-wg {
    position: fixed !important;
    top: 0 !important;
    width: 100%;
}

@media print {
    .print-foot-wg {
        position: fixed;
        bottom: 0;
    }
    body {
        /* width: 210mm;*/
        /* height: 250mm; */
        /* padding: 70px 0 !important; */
    }
    .middle-data-h-print {
        margin: 50px 0 100px !important
    }
}

.middle-data-h-print {
    margin: 50px 0 !important
}

html[dir="ltr"] .print-foot-wg .col-xs-7 {
    background: #333;
    color: white !important;
    border-radius: 100px 0 0 0 !important;
    border-left: 15px solid #526cc2 !important;
    border-right: none !important;
}